<main class="main">
    <h1 class="main-title">Your rest</h1>
    <div class="main-wrapper">
        <button class="main-btn main-btn-control" type="button">Start</button>
        <div class="main-timer" data-state="initial">
            <div class="minutes"></div>
            <div class="seconds"></div>
            <div class="miliseconds"></div>
        </div>
        <div class="main-limit">
            <p>Press to change limit</p>
            <div class="main-limit-container">
                <div class="main-limit-minutes"></div>
                <div class="main-limit-seconds"></div>
            </div>
        </div>
        <button class="main-btn main-btn-reset" type="button">Reset</button>
    </div>
</main>