<main class="main">
    <h1 class="main-title">Your rest</h1>
    <div class="main-wrapper">
        <button class="main-btn main-btn-control" type="button">Start</button>
        <div class="main-timer" data-state="initial">
            <div class="minutes">
                00
            </div>
            <div class="seconds">
                00
            </div>
            <div class="miliseconds">
                00
            </div>
        </div>
        <button class="main-btn main-btn-reset" type="button">Reset</button>
    </div>
</main>