<main class="main">
    <h1 class="main-title">{{workoutIdValue}}</h1>
    <table class="main-table">
        <tbody>
            <tr class="main-table-row">
                <th class="main-table-cell">Workout exercises</th>
                <th class="main-table-cell">Rest</th>
                <th class="main-table-cell">1</th>
                <th class="main-table-cell">2</th>
                <th class="main-table-cell">3</th>
                <th class="main-table-cell">4</th>
                <th class="main-table-cell">5</th>
                <th class="main-table-cell">6</th>
                <th class="main-table-cell">7</th>
                <th class="main-table-cell">8</th>
            </tr>
            {{{dayTemplate}}}
        </tbody>
    </table>
    <button type="button" class="main-btn main-btn-save">Save workout</button>
</main>